body {
	background-color:  #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Container (could be body or another wrapper element) */
#page-container {
	width: 100%;
	position: relative;
    justify-content: center; /* Center child elements horizontally */
}

div #page-header {
	height: 100px;
	line-height: 100px;
	background-color: #888888;
}

div #page-header h2 {
	font-size: 24px;
    text-align: center;
	justify-content: center;
	color: #ffffff;
}

/* Container (could be body or another wrapper element) */
#page-content { 
	overflow :hidden;
	position :relative;
	background-color: #ffffff;
	margin: 0 auto;
	width: 1200px;
}

/* Container for charts on the right, also taking up half the width */
#left-container {
	border: 1px;
	float: left;
	align: "right";
    width: 60%; /* takes up half of the container's width */
}

/* Container for charts on the right, also taking up half the width */
#right-container {
	border: 1px;
	margin: 0px;
	float: left;
    width: 40%; /* takes up half of the container's width */
}

/* Container for charts on the right, also taking up half the width */
.data {
	left: 600px;
	margin: 40px 0px 40px 0px;
	float: left;
}

/* Container for charts on the right, also taking up half the width */
.folium-map {
	background-color:#ffffff;
	height: 400px;
	float: left;
}

/*  Each chart inside the charts container */
.chart {
}

.data-table {
	background-color: #ffffff;
    border-collapse: collapse;
}

.data-table, .data-table th, .data-table td {
    border: 1px solid #ddd;
	font-size: 10px;
}

.data-table th, .data-table td {
    padding: 4px 4px;
    text-align: left;
}

.data-table tr:nth-child(even) {
    background-color: #f2f2f2;
}
