{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	{{folium_header|safe}}
	<link href="{% static 'base.css' %}" rel="stylesheet">
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <title>Wind Power Forecast</title>
</head>
<body>
	<!-- Wrapper for the page -->
	<div id="page-container">
		<div id="page-header">
			<h2>Daily Wind Power Forecast (MW)</h2>
			<div id="navigation-bar">
				<a href="index.html">Forecast Models</a> |
				<a href="models.html">Model Evaluation</a> |
			    <a href="map.html">UK Renewables Map</a>
			</div>
		</div>
		<div id="page-content">
   	 		<div class="chart">{{ wind_offshore_model_evaluation|safe }}</div>
   	 		<div class="chart">{{ wind_onshore_model_evaluation|safe }}</div>
			<div class="chart">{{ solar_model_evaluation|safe }}</div>
			<div class="chart">{{ time_lag_evaluation|safe }}</div>
		</div>
	</div>
</body>
</html>
